@import '../../theme/vars.less';
.pc-leftbar {
  user-select: none;
  z-index: 1;
  overflow: hidden;
  height: 72px;
  padding: 0 12px;
  &::after{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -5px;
    // background: rgba(0, 0, 0, .2);
    filter: blur(20px);
    z-index: -1;
    content: ' ';
  }
  .menuWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
  }
  div{
    text-align: center;
  }
  .pc-leftbar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      width: 36px;
      cursor: pointer;
      border-radius: 4px;
    }
    i{
      font-size: 36px;
      cursor: pointer;
    }
    span{
      vertical-align: middle;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .pc-leftbar-category{
    border-radius: 4px;
    display: flex;
    .pc-leftbar-category-item {
      text-align: left;
      cursor: pointer;
      font-size: 16px;
      margin-right: 24px;
      // background: @main-theme;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
  }
  .pc-leftbar-category-label{
    position: relative;
    height: 24px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #999 !important;
    font-size: 12px;
    text-align: left;
  }
}
.pc-leftbar-enter {
  right: -8vw;
}
.pc-leftbar-enter-active {
  right: 0;
}
.pc-leftbar-exit {
  right: 0;
}
.pc-leftbar-exit-active {
  right: -100vw;
}
