@import '../../theme/vars.less';
.pc-leftbar {
  user-select: none;
  z-index: 1;
  overflow: hidden;
  height: 64px;
  padding: 0 24px;
  .dragger{
    height: 30%;
    -webkit-app-region: drag;
  }
  .menuWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    box-sizing: border-box;
  }
  div{
    text-align: center;
  }
  .pc-leftbar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      width: 24px;
      cursor: pointer;
      border-radius: 4px;
    }
    i{
      font-size: 24px;
      cursor: pointer;
    }
    span{
      vertical-align: middle;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .pc-leftbar-category{
    border-radius: 4px;
    display: flex;
    user-select: none;
    .pc-leftbar-category-item {
      text-align: left;
      cursor: pointer;
      font-size: 14px;
      margin-right: 24px;
    }
  }
  .pc-leftbar-category-label{
    position: relative;
    height: 24px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #999 !important;
    font-size: 12px;
    text-align: left;
  }
}
