@import "../../theme/vars";
.pc-login{
  width: 320px;
  height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(4, 4, 4, .9);
  box-shadow: 0 0 8px 0 #000;
  z-index: 44;
  transform: translate(-50%, -50%);
  .pc-login-canvas{
    height: 100px;
    margin-bottom: 8px;
    // background-color: #fff;
  }
  .pc-login-form-wrapper{
    width: 80%;
    margin: 0 auto;
    input{
      width: 100%;
      box-sizing: border-box;
      margin-top: 24px;
      height: 36px;
      font-size: 14px;
      border: none;
      border-bottom: 1px solid #7BA3FF;
      color: #7BA3FF;
      background-color: transparent;
      padding: 0 4px;
      outline: none;
      &::placeholder{
        color: #7BA3FF;
      }
    }
    button{
      margin-top: 48px;
      width: 100%;
      height: 36px;
      line-height: 36px;
      border: none;
      border-radius: 2px;
      color: #fff;
      font-size: 14px;
      outline: none;
      background: linear-gradient(to top right,#7BA3FF, #57E1E7);
      transition: all .1s;
    }
  }
}
.pc-login-enter {
  top: -360px;
}
.pc-login-enter-active {
  top: 50%;
  transition: all .3s ease-in-out;
}
.pc-login-exit {
  top: 50%;
}
.pc-login-exit-active {
  top: -360px;
  transition: all .3s ease-in-out;
}
.pc-login-button-loading{
  width: 36px !important;
  height: 36px !important;
  border-radius: 50% !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.pc-login-spin{
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}