.pc-artist{
  flex: 1;
  padding:4px 12px 0 12px;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  .pc-artist-info-wrapper{
    height: 150px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    img{
      width: 150px;
      height: 150px;
      border-radius: 4px;
    }
    .pc-artist-info{
      flex: 1;
    }
    .pa-artist-desc{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }
  }
}