@import '../../theme/common.less';
.pc-moments{
  flex: 1;
  overflow: auto;
  padding: 8px 12px;
  .pc-moments-list{
    list-style: none;
    margin: 0;
    padding: 0;
    .pc-moments-item{
      display: flex;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(255, 255, 255, .1);
      margin-bottom: 16px;
      .moment-user{
        color: #57E1E7;
      }
      .pc-moment-content{
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, .1);
        padding: 4px;
        margin-bottom: 8px;
        img{
          width: 48px;
          height: 48px;
        }
        .pc-moment-content-info{
          margin-left: 12px;
          .pc-moment-content-name{
            margin-bottom: 8px;
          }
        }
      }
      .avatar{
        width: 48px;
        height: 48px;
      }
      .moment-image{
        width: 150px;
        height: auto;
        border-radius: 4px;
        margin-right: 8px;
      }
      .pc-moments-item-content{
        flex: 1;
        margin-left: 8px;
        text-align: left;
      }
      .pc-moment-time, .pc-moment-message{
        margin-bottom: 8px;
      }
      .pc-moment-item-footer{
        display: flex;
        justify-content: space-between;
        .pc-moment-options{
          i{
            margin:0 4px 0 8px;
          }
        }
      }
    }
  }
  .no-scroll-bar
}