.pc-albums{
  flex: 1;
  background: #fff;
  .pc-albums-tool-bar{
    height: 48px;
    display: flex;
    .pc-albums-categories{
      width: 70%;
      background: #000;
    }
    .pc-albums-hot-category{
      padding: 8px;
    }
  }
}