@import '../../theme/vars.less';
.pc-album{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  .pc-album-list{
    flex: 1;
  }
}
.pc-album-info{
  display: flex;
  padding: 0 18px 18px;
  background: rgba(255, 255, 255, .1);
  border-radius: 2px;
  box-shadow:0 5px 15px -10px rgba(0, 0, 0, .4);
  overflow-x: hidden;
  .pc-album-cover{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
  }
  .pc-album-text{
    padding: 6px 12px;
    background: rgba(255, 255, 255, .1);
    // color: rgb(4, 4, 4);
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
  .pc-album-detail{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    max-width: 600px;
    &>div.pc-album-text:nth-child(1){
      padding: 8px 14px;
      font-size: 24px;
    }
  }
  .pc-album-creator{
    display: flex;
    align-items: center;
    flex-grow: 0;
    .pc-album-creator-avatar{
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 12px;
    }
    .pc-album-creator-nickname{
      vertical-align: middle;
    }
  }
  .pc-album-tags{
    display: flex;
    align-items: center;
    color: @color-light;
    div{
      margin-right: 8px;
    }
  }
  .pc-album-counts{
    align-self: flex-end;
    display: flex;
    flex-shrink: 0;
    span{
      font-size: 12px !important;
      margin-right: 12px;
    }
    .pc-album-play-all, .pc-album-track{
      i{ 
        font-size: 19px !important;
      }
      width: 36px;
      height: 36px;
      line-height: 36px;
      border-radius: 60%;
      background: @main-theme;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-right: 12px;
      cursor: pointer;
    }
    .pc-album-play-all{
      i{
        font-size: 25px !important;
      }
    }
  }
}