@controller-height: 64px;
.pc-controller{
  height: @controller-height;
  box-sizing: border-box;
  // background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .4);
  .pc-controller-progress-bar{
    height: 1px;
    background: linear-gradient(to right, #7BA3FF, #57E1E7);
    box-shadow: 0 0 12px 0 #9B30FF;
    position: absolute;
    top: -1px;
    transition: .4s ease;
  }
  .pc-controller-volume{
    width: 100px;
    height: 4px;
    background-color: rgba(58, 59, 66, 1);
    border-radius: 4px;
    z-index: 99;
    justify-content: center;
    cursor: pointer;
    .pc-controller-volume-inner{
      height: 100%;
      align-self: flex-end;
      background-color: #fff;
      border-radius: 4px;
    }
  }
  .pc-controller-cover{
    position: absolute;
    width: 100%;
    height: @controller-height;
    overflow: hidden;
    cursor: pointer;
    z-index: -1;
    img{ 
      height: auto !important;
      transform: translateY(-50%);
      filter: blur(20px); }
  }
  .pc-controller-contents{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    .pc-controller-cover-wrapper{
      display: flex;
      align-items: center;
      width: 30%;
      overflow: hidden;
      text-overflow: ellipsis;
      img{
        width: 48px;
        margin-left: 12px;
      }
    }
    .pc-controller-info{
      padding-left: 12px;
      text-align: left;
      width: calc(100% - 60px);
      >div:nth-child(1){
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 8px;
      }
      >div:nth-child(2){
        font-size: 11px;
        display: flex;
        div{
          width: 120px;
          flex-shrink: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .pc-controller-time{
        margin-left: 8px;
        white-space: nowrap;
      }
    }
    .pc-controller-controls,.pc-controller-ops{
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        margin-left: 32px;
        cursor: pointer;
        font-size: 20px;
      }
    }
    .pc-controller-controls{
      width: 30%;
      padding-right: 24px;
      justify-content: flex-end;
      i:nth-child(3){
        font-size: 18px;
      }
    }
    .pc-controller-comments{
      margin-left: 36px;
      padding: 2px 0;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
    .pc-controller-ops{
      flex: 1;
      justify-content: center;
      i:nth-child(1){
        margin-left: 0;
      }
    }
  }
}