@controller-height: 48px;
.pc-controller{
  width: 100vw;
  height: @controller-height;
  box-sizing: border-box;
  // background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: .5px solid #444;
  .pc-controller-progress-bar{
    height: 1px;
    background: linear-gradient(to right, #7BA3FF, #57E1E7);
    box-shadow: 0 0 12px 0 #9B30FF;
    position: relative;
    top: -1px;
    transition: 1s ease;
  }
  .pc-controller-contents{
    display: flex;
    .pc-controller-cover{
      width: @controller-height;
      height: @controller-height;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      img{width: 85%;}
      &:hover{
        img{filter: blur(2px)};
      }
    }
    .pc-controller-info{
      width: 180px;
      padding-left: 12px;
      text-align: left;
      div:nth-child(1){
        line-height: 26px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      div:nth-child(2){
        font-size: 11px;
      }
    }
    .pc-controller-controls,.pc-controller-ops{
      width: 350px;
      display: flex;
      align-items: center;
      i{margin-left: 12px; cursor: pointer;}
      .icon-bofangqi-bofang,.icon-bofangqi-zanting{
        padding: 6px;
        border-radius: 50%;
        border: 1px solid rgba(222, 222, 222, .5);
      }
      .pc-controller-volune{
        margin-left: 8px;
        margin-right: 80px;
        width: 80px;
        height: 2px;
        background: rgba(170, 170, 170, .4);
        border-radius: 2px;
        position: relative;
        cursor: pointer;
        .pc-controller-volune-inner{
          width: 80%;
          height: 2px;
          border-radius: 2px;
          background: #aaa;
        }
      }
    }
    .pc-controller-ops{
      flex: 1;
      padding-right: 24px;
      justify-content: flex-end;
      i:nth-child(1){
        font-size: 18px;
      }
    }
    .pc-controller-VF{
      margin-left: 36px;
      width: 220px;
      height: 46px;
      opacity: .5;
    }
  }
}