.pc-leftbar {
  height: calc(100vh - 84px);
  width: 140px;
  padding-top: 28px;
  border-right: .5px solid #222;
  div{
    padding: 0 24px;
  }
  .pc-leftbar-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -8px;
    box-shadow: 0 0 8px 0 #222;
    img{
      width: 36px;
    }
  }
  .pc-leftbar-category{
    margin-top: 18px;
    font-size: 13px;
    div {
      height: 36px;
      line-height: 36px;
      text-align: left;
      cursor: pointer;
      i{
        margin-right: 8px;
      }
    }
  }
  .pc-leftbar-category-label{
    position: relative;
    height: 24px;
    line-height: 24px;
    color: #999 !important;
    font-size: 12px;
  }
}