@import '../../theme/vars.less';
.pc-leftbar {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 48px);
  width: 240px;
  padding-top: 48px;
  z-index: 33;
  background: @primary-color;
  box-shadow: 0 0 12px 0 #51416B;
  transition: all .1s ease-in-out;
  div{
    padding: 0 12px;
  }
  .pc-leftbar-logo{
    padding-left: 16px;
    img{
      width: 28px;
      margin-right: 12px;
    }
    a{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      span{
        vertical-align: middle;
      }
    }
  }
  .pc-leftbar-category{
    margin-top: 18px;
    font-size: 13px;
    div {
      height: 36px;
      line-height: 36px;
      text-align: left;
      cursor: pointer;
      i{
        margin-right: 8px;
      }
    }
  }
  .pc-leftbar-category-label{
    position: relative;
    height: 24px;
    line-height: 24px;
    color: #999 !important;
    font-size: 12px;
  }
}
.pc-leftbar-enter {
  left: -240px;
}
.pc-leftbar-enter-active {
  left: 0;
}
.pc-leftbar-exit {
  left: 0;
}
.pc-leftbar-exit-active {
  left: -240px;
}