@import '../../theme/vars.less';
.pc-leftbar {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 48px);
  width: 100%;
  padding-top: 48px;
  z-index: 33;
  background: @primary-color;
  box-shadow: 0 0 12px 0 #51416B;
  transition: all .3s ease-in-out;
  user-select: none;
  div{
    padding: 0 12px;
  }
  .pc-leftbar-logo{
    padding-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    img{
      width: 72px;
      margin-right: 12px;
      cursor: pointer;
      border-radius: 50%;
    }
    span{
      vertical-align: middle;
      font-size: 28px;
      cursor: pointer;
    }
  }
  .pc-leftbar-category{
    margin-top: 18px;
    font-size: 13px;
    display: flex;
    margin-bottom: 36px;
    a{
      flex: 1;
    }
    .pc-leftbar-category-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      cursor: pointer;
      font-size: 20px;
      i{
        font-size: 24px;
        margin-bottom: 12px;
      }
    }
  }
  .pc-leftbar-category-label{
    position: relative;
    height: 24px;
    line-height: 24px;
    color: #999 !important;
    font-size: 12px;
  }
}
.pc-leftbar-enter {
  left: -100vw;
}
.pc-leftbar-enter-active {
  left: 0;
}
.pc-leftbar-exit {
  left: 0;
}
.pc-leftbar-exit-active {
  left: -100vw;
}