.pc-playlist-wrapper{
  margin-top: 8px;
  flex: 1;
  overflow: hidden;
}
.pc-playlist-header{
  font-size: 16px;
  position: sticky;
  top: 0;
  padding: 12px 0;
  background: rgba(255, 255, 255, .1);
  border-radius: 2px;
  margin: 0 !important;
}
.pc-playlist-song{
  display: flex;
  padding: 8px 0;
  text-align: left;
  cursor: pointer;
  &:hover{
    background: rgba(255, 255, 255, .1);
  }
  &>div{
    max-width: 250px;
    padding: 0 12px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.pc-playlist-songs{
  height:  calc(100% - 42px);
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
}
.pc-playing-indicator{
  display: block;
  display: flex;
  transform: rotate(180deg);
  .pc-playing-indicator-item{
    width: 3px;
    height: 4px;
    margin-right: 2px;
    background: rgba(87, 225, 231, .6);
    box-shadow: 0 0 4px 0 #9B30FF;
    animation: shrinkShort .7s infinite alternate ease-in-out;
    &:nth-child(2){
      animation-duration: .6s;
    }
    &:nth-child(odd){
      height: 8px;
      animation: shrinkLong .5s infinite alternate ease-in-out;
    }
    &:nth-child(1){
      height: 8px;
      animation-duration: .4s;
    }
  }
}
@keyframes shrinkShort {
  100% {
    height: 8px
  }
}
@keyframes shrinkLong {
  100% {
    height: 12px
  }
}