.pc-playlist-wrapper{
  margin-top: 8px;
  flex: 1;
  overflow: hidden;
}
.pc-playlist-header{
  font-size: 16px;
  position: sticky;
  top: 0;
  padding: 12px 0;
  background: rgba(255, 255, 255, .1);
  border-radius: 2px;
  margin: 0 !important;
}
.pc-playlist-song{
  display: flex;
  margin: 16px 0;
  text-align: left;
  cursor: pointer;
  div{
    max-width: 200px;
    margin: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.pc-playlist-songs{
  height:  calc(100% - 42px);
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
}