@import '../../theme/common.less';
.pc-search{
  width: 70%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  .pc-search-input-wrapper, .pc-search-results-wrapper {
    background: rgba(0, 0 , 0, .9);
    border-radius: 4px;
    box-shadow: 0 16px 16px 0 rgba(0, 0 , 0, .6);
  }
  .pc-search-input-wrapper{
    position: relative;
    .pc-search-input{
      width: 100%;
      height: 48px;
      border: none;
      box-sizing: border-box;
      color: #fff;
      font-size: 24px;
      padding: 2px 8px 2px 40px;
      background: transparent;
      &:focus{
        outline: none;
        &+i{
          color: #fff;
        }
      }
    }
    i{
      position: absolute;
      left: 8px;
      top: 11px;
      font-size: 24px;
      color: #999;
    }
  }
  .pc-search-results-wrapper{
    height: 0;
    margin-top: 4px;
    display: flex;
    overflow: hidden;
    transition: all .1s ease-in-out;
    &.hasResult{
      height: 80%;
    }
    .pc-search-results{
      flex: 1;
    }
    .pc-search-results{
      flex: 3;
      position: relative;
      padding: 8px;
      overflow: auto;
      .no-scroll-bar;
    }
    .pc-search-results-category{
      text-align: left;
      .pc-search-results-category-title, .pc-search-results-item{
        line-height: 24px;
        padding: 1px 8px;
      }
      .pc-search-results-category-title{
        padding: 2px 8px;
        background: rgba(100, 100 , 100, .2);
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
      }
      .pc-search-results-item{
        display: flex;
        align-items: center;
        margin-top: 4px;
        cursor: pointer;
        .pc-search-songs-cover{
          width: 32px;
          height: 32px;
          border-radius: 2px;
          margin-right: 16px;
        }
        .pc-search-item-name{
          flex-basis: 60%;
          .text-ellipsis;
          margin-right: 8px;
        }
        .pc-search-item-extra{
          flex-basis: 30%;
          .text-ellipsis;
        }
      }
    }
  }
}