.pc-route-container{
  width: calc(100vw - 180px);
  height: calc(100vh - 56px);
  .pc-tool-bar{
    height: 48px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    .pc-tool-bar-search{
      display: flex;
      align-items: center;
      width: 300px;
      border: 1px solid rgba(170, 170, 170, .2);
      height: 28px;
      padding: 0 12px;
      border-radius: 20px;
      input{
        width: 285px;
        height: 100%;
        line-height: 28px;
        background: transparent;
        border: none;
        outline: none;
        color: #eee;
        &::placeholder{
          color: #eee;
        }
      }
    }
    .pc-tool-bar-tools{
      display: flex;
      align-items: center;
      i{ 
        margin-right: 8px;
         cursor: pointer; 
         -webkit-app-region: no-drag;
         padding: 2px 4px;
         border: 1px solid rgba(170, 170, 170, .2);
      }
      i:nth-child(1){
        border-top-left-radius: 45%;
        border-bottom-left-radius: 45%;
      }
      i:nth-child(2){
        border-top-right-radius: 45%;
        border-bottom-right-radius: 45%;
      }
      &:nth-last-child(1){
        i{font-size: 18px;}
        .pc-user-avatar{
          font-size: 24px;
        }
        img.pc-user-avatar{
          width: 28px;
          height: 28px;
          border-radius: 50%;
          margin-left: 8px;
        }
      }
    }
  }
  .pc-routes{
    height: calc(100vh - 104px);
    display: flex;
  }
}
