@import "../../theme/vars";
.pc-route-container{
  position: relative;
  height: 100%;
  margin: 20px;
  padding: 10px 0;
  overflow: hidden;
  border-bottom: 1px dashed transparent;
  background: linear-gradient(to right, #ffffff 0%, #ffffff calc(40% - 4px), rgb(244, 243, 243) calc(40% - 4px), rgb(244, 243, 243) 100%) padding-box, repeating-linear-gradient(-45deg, #aaa 0, #ccc .25em, white 0, white .75em);
}
