.pc-current-song-wrapper{
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  bottom: 48px;
  background: rgba(4, 4, 4, 1);
  overflow: hidden;
  z-index: 3;
  display: flex;
  .pc-visualizor-wrapper{
    width: 100%;
    position: relative;
    z-index: 55;
    transition: all .3s ease-in-out;
  }
  &.lyricMode{
    .pc-visualizor-wrapper{
      width: 60%
    }
  }
  .pc-lyric-wrapper{
    width: 40%;
    position: relative;
    z-index: 55;
  }
  canvas{
    position: relative;
    z-index: 2;
  }
  .img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #fff;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  &:after{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    margin: -40px;
    background: rgba(11, 11, 11, .98);
    filter: blur(2px);
    z-index: 4;
  }
}
.pc-playing-panel-switcher{
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 66;
  span{
    font-size: 10px;
    margin-left: 18px;
    color: #aaa;
    cursor: pointer;
    &.active{
      color: inherit;
      &::before{
        content: ' ';
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #9B30FF;
        margin-right: 2px;
      }
    }
  }
}