@import '../../theme/common.less';
.pc-home{
  flex: 1;
  padding:0 20px;
  box-sizing: border-box;
  >div{
    display: flex;
    &:nth-child(2){
      .pc-home-category-right{
       margin-right: 16px;
      }
    }
  }
  &.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span{
      margin-top: 12px;
    }
  }
  .pc-home-category-left,.pc-home-category-right{
    flex-shrink: 0;
  }
  .pc-home-category-left{
    width: 65%;
    margin-right: 28px;
  }
  .pc-home-category-right{
    width: 35%;
  }
  .pc-home-category-title{
    text-align: left;
    line-height: 24px;
    cursor: pointer;
    a{
      text-decoration: none;
      color: inherit;
    }
    i{
      font-size: 12px;
    }
  }
  .pc-home-banner{
    border-radius: 4px;
    overflow: hidden;
    font-size: 0;
    margin-bottom: 8px;
    img{
      max-width: 100%;
      max-height: 100%;
      border-radius: 4px;
      margin-right: 24px;
    }
  }
  .pc-home-calendar{
    width: 270px;
    height: 206px;
    border-radius: 4px;
    overflow: hidden;
     .pc-home-calendar-header{
      height: 55%;
      background-color: #202025;
      line-height: 96px;
      .pc-home-calendar-date{
        font-size: 64px;
      }
      .pc-home-calendar-month{
        font-size: 24px;
      }
    }
    .pc-home-calendar-content{
      height: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #3A3B42;
      .pc-home-calendar-swiper{
        height: 100%;
        width: 100%;
      }
      .pc-home-calendar-event{
        height: 100%;
        display: flex;
        align-items: center;
        padding:0 8px;
        >div{
          align-self: start;
          line-height: 24px;
          padding-top: 8px;
          padding-left: 12px;
          word-break: keep-all;
          text-align: left;
        }
      }
      img{
        width: 80px;
        height: 80px;
      }
    }
  }
  .pc-home-newest{
    .pc-home-newest-song{
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      padding: 4px;
      border-radius: 4px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, .08);
      >div:nth-child(2){
        width: calc(100% - 48px);
        div{ text-align: left; }
        div:nth-child(1){  .text-ellipsis; font-size: 14px; margin-bottom: 2px; }
        div:nth-child(2){
          display: flex;
          justify-content: space-between;
          span{
            color: #999;
          }
        }
      }
    }
    img{
      max-width: 42px;
      transition: .3s;
      margin-right: 8px;
    }
    span:nth-child(2){
      margin-right: 8px;
    }
  }
  .pc-home-recommand{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a:nth-of-type(n+6){
      .pc-personalized-album{
        margin-bottom: 0;
      }
    }
    .pc-personalized-album{
      position: relative;
      display: flex;
      flex-direction: column;
      // max-width: 24%;
      margin-bottom: 12px;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;
      img{
        max-width: 128px;
        transition: .3s;
      }
      &:hover{
        img{
          transform: scale(1.2)
        }
        &::after{
          content: attr(data-name);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, .5);
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
svg.loading {
  width: 3.75em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

circle {
  fill: none;
  stroke: #7BA3FF;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
