@import '../../theme/common.less';
@import '../../theme/vars.less';
.pc-home{
  flex: 1;
  padding:0 20px;
  box-sizing: border-box;
  >div{
    display: flex;
    &:nth-child(2){
      .pc-home-category-right{
       margin-right: 10px;
      }
    }
  }
  &.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span{
      margin-top: 12px;
    }
  }
}
svg.loading {
  width: 3.75em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

circle {
  fill: none;
  stroke: #7BA3FF;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
.pc-home-recommand-wrapper{
  height: 100%;
}
  .pc-home-recommand{
    position: relative;
    left: 36px;
    right: 0;
    top: 50%;
    bottom: 0;
    width: calc(50% - 36px);
    height: 65%;
    transform: translateY(-50%);
    overflow: hidden;
    .pc-personalized-album{
      position: absolute;
      right: 0;
      flex-direction: column;
      width: 240px;
      height: 240px;
      margin-bottom: 10px;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;
      transition: all ease-in-out .2s;
      display: none;
      &.current, &.prev, &.prev-2, &.next{
        display: flex;
      }
      &.current{
        z-index: 333;
      }
      &.prev-2{
        transform: translate3d(-200px, 0px, 20px) scale(.7);
        z-index: 111;
      }
      &.prev{
        transform: translate3d(-100px, 0px, 20px) scale(.8);
        z-index: 222;
      }
      &.next{
        transform: translateX(240px);
      }
      img{
        width: 100%;
        height: 100%;
        transition: .3s;
      }
      &:hover{
        img{
          transform: scale(1.2)
        }
        &::after{
          content: attr(data-name);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: @main-theme-shadow;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .switch-button{
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid #efefef;
    color: #ddd;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 222;
    &:hover{
      border: 1px solid #ddd;
      color: #aaa;
    }
    &.prev{
      left: 0;
    }
    &.next{
      right: 0;
    }
  }
  .current-album-info{
    position: absolute;
    top: 50%;
    right: 36px;
    height: 65%;
    transform: translateY(-50%);
    width: calc(50% - 36px);
    padding:0 24px;
    text-align: left;
    box-sizing: border-box;
    z-index: 222;
    &>div{
      position: absolute;
    }
    .name{
      font-size: 32px;
      margin-bottom: 48px;
    }
    .info {
      margin-bottom: 48px;
      color: @color-light-2;
      top: 45%;
      &>span{
        margin-right: 12px;
      }
      .number{
        font-size: 16px;
        color: @color-light;
      }
    }
    .buttons{
      top: 70%
    }
    .button{
      display: inline-block;
      padding: 12px 24px;
      background: @main-theme;
      color: #fff;
      margin-right: 24px;
      cursor: pointer;
      &.album{
        background: transparent;
        border: 1px solid #ddd;
        color: #777;
      }
    }
  }