@import "theme/vars";
@import "theme/common";
* {
  .no-scroll-bar
}
.play-color {
  text-align: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #eee;
  overflow: hidden;
  a{
    text-decoration: none;
    color: inherit;
  }
}

.pc-header {
  margin-left: 72px;
  height: 28px;
  background: @primary-color;
  // background: #fff;
  -webkit-app-region: drag;
}
.pc-loader{
  flex: 1;
}
.content-wrapper{
  height: calc(100vh - 28px);
  display: flex;
}
.pc-tool-bar{
    position: relative;
    height: 100%;
    display: flex;
    padding-left: 72px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    pointer-events: none;
    .pc-tool-bar-tools{
      display: flex;
      align-items: center;
      cursor: pointer;
      pointer-events: auto;
      i{ 
        font-size: 12px;
        margin-right: 8px;
         cursor: pointer; 
         -webkit-app-region: no-drag;
         padding: 2px 4px;
      }
    }
  }