@import "theme/vars";
.play-color {
  text-align: center;
  min-height: 100vh;
  background: @primary-color;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #eee;
  overflow: hidden;
  a{
    text-decoration: none;
    color: inherit;
  }
}

.pc-header {
  height: 48px;
  // background: #fff;
  -webkit-app-region: drag;
}
.pc-loader{
  flex: 1;
}
.content-wrapper{
  height: calc(100vh - 96px);
  display: flex;
}
.pc-tool-bar{
    position: relative;
    height: 100%;
    display: flex;
    padding-left: 72px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    pointer-events: none;
    .pc-tool-bar-tools{
      display: flex;
      align-items: center;
      cursor: pointer;
      pointer-events: auto;
      i{ 
        margin-right: 8px;
         cursor: pointer; 
         -webkit-app-region: no-drag;
         padding: 2px 4px;
         border: 1px solid rgba(170, 170, 170, .2);
      }
      i:nth-child(1){
        border-top-left-radius: 45%;
        border-bottom-left-radius: 45%;
      }
      i:nth-child(2){
        border-top-right-radius: 45%;
        border-bottom-right-radius: 45%;
      }
      &:nth-last-child(1){
        i{font-size: 20px; border: none; position: relative; z-index: 33;}
        .icon-you{
          font-size: 20px;
          z-index: 99;
        }
      }
    }
  }