body {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 13px;
  font-family: "Helvetica Neue",Helvetica,Consolas,Menlo,monospace,"PingFang SC","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


html {
  background: transparent !important;
}